<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twig templating example</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8000/assets/css/foo.css ">
</head>
<body>
<div class="topnav">
    
        <a href="#" class="active"></a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    
</div>
    {% block body %}
    {% endblock body %}
</body>

<div class="footer">
    sistema de voto electronico
</div>

</html>