<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templating parametros con twig</title>
</head>
<body>
    el id es {{ id }} <br>
    el string es {{ string }}
</body>
</html>